body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  @apply text-5xl font-semibold;
  font-family: 'Alegreya', serif;
}

h2 {
  @apply text-4xl font-semibold;
  font-family: 'Alegreya', serif;
}

h3 {
  @apply text-3xl font-semibold;
  font-family: 'Alegreya', serif;
}

h4 {
  @apply text-2xl font-semibold;
  font-family: 'Alegreya', serif;
}

h5 {
  @apply text-xl font-semibold;
  font-family: 'Alegreya', serif;
}


.content,
#content {
  @apply py-20;
}

.seperator {
  content: "";
  @apply w-16 h-1 inline-block;
}

.form-control input {
  @apply input input-bordered;
  border-color: #e5e7eb;
}

.form-control.sm input {
  @apply input input-bordered input-sm;
  border-color: #e5e7eb;
}

.form-control select {
  @apply select select-bordered;
}

.form-control.sm select {
  @apply select select-bordered select-sm;
}

.form-control input[type='file'] {
  @apply file-input file-input-bordered w-full max-w-xs p-0;
}